<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b9a69f0-b670-4075-a195-d43e8b215dec" Alias="About Callback Settings - Callback Request From Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - Callback Request From Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>