<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2385527c-2e0f-4ba7-bd30-b2a5544884cf" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "de8d63cb-ab1a-4034-8cf6-cda7ce9de6d7"
    },
    {
      "contentElementTypeKey": "751b674d-a186-493b-972a-fdc9de92b3f6",
      "settingsElementTypeKey": "460ea086-04c0-4511-8a77-69ba79df57b6"
    },
    {
      "contentElementTypeKey": "68a1bbcb-f053-4ec0-b23e-e62de296e6fa"
    },
    {
      "contentElementTypeKey": "3645e447-20de-483c-9c32-de0ddea7226b",
      "settingsElementTypeKey": "05e5f0df-5e33-4af4-8c7b-3ab38cebc172"
    }
  ]
}]]></Config>
</DataType>