<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5587ae5c-9c22-4b65-a5be-4d52ac86c4cc" Alias="Service Detail Asides-List" Level="1">
  <Info>
    <Name>Service Detail Asides-List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00ec312c-656b-435e-9166-cedb173cd459"
    }
  ]
}]]></Config>
</DataType>