<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d98daec-884f-46f3-885d-50583ee2f84c" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "352df638-4b2f-4961-881a-eba9eec61a65",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>