<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9241788-f99d-4b7e-97bc-109eb2b5a77c" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>