<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0d05049-123b-4de5-9f39-ac3b12e07f37" Alias="About" Level="2">
  <Info>
    <Parent Key="d13d2c24-6939-4fef-9b2d-f12a23ea5428">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-30T10:30:53</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ce7703c-5b3c-42b0-81cc-ca2d4841727f">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "68a1bbcb-f053-4ec0-b23e-e62de296e6fa",
      "key": "1823de7e-2b6b-41bd-b0b9-bc5b8caa2de3",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "5b7d3212-5e16-4987-944c-319fa0436859",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c53b56c-a3ce-416c-97f4-f7b067ae627e",
                        "mediaKey": "b5db1e23-9ad8-42ad-b165-c8812954449f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "464947b0-c9be-466f-96f8-693c26b23d09",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6ce5f858-78d4-403d-930c-a83a0b434743",
                        "mediaKey": "6d852109-93f0-41d3-be65-a382dd7ebde4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "eb8f23c7-1fbf-4726-ad87-4ada90dd54c6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d0a22679-9e1d-4765-a560-ea7359ba229d",
                        "mediaKey": "3f2ce6af-942f-418d-a1cc-b7ae7de5fb1f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "372ede41-93a9-4cfe-9ec3-369eeec86af1",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "03b02e9d-3f53-4873-8003-892649e5a6a4",
                        "mediaKey": "4e75029d-8087-4ca2-8ca9-619efdf3f242",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "7478414e-064b-4f21-98ac-1565751058d1",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "96be9deb-71f9-443d-9a27-78f4bbed1da2",
                        "mediaKey": "7a8c2360-0c04-4d36-8a5a-5fa3e6fa4a03",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "ea2eb8dc-603a-4096-bd80-06b38a224b09",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c19f6038-471d-4357-ae69-8a78d501c86b",
                        "mediaKey": "5e11bb24-75a4-4e58-9921-7c20e93cb062",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  }
                ]
              },
              {
                "contentTypeKey": "e94c9352-2d56-4321-aa3c-c3cd00223b7b",
                "key": "0efbd7ad-9254-4be5-b8cd-6e413938d243",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f1d5f7de-d3eb-4141-8cdb-450a4b8223d3",
                        "mediaKey": "8634b260-8220-4261-b60e-d295287da2d0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5b7d3212-5e16-4987-944c-319fa0436859",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "464947b0-c9be-466f-96f8-693c26b23d09",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "eb8f23c7-1fbf-4726-ad87-4ada90dd54c6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "372ede41-93a9-4cfe-9ec3-369eeec86af1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7478414e-064b-4f21-98ac-1565751058d1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea2eb8dc-603a-4096-bd80-06b38a224b09",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0efbd7ad-9254-4be5-b8cd-6e413938d243",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5b7d3212-5e16-4987-944c-319fa0436859",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "464947b0-c9be-466f-96f8-693c26b23d09",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "eb8f23c7-1fbf-4726-ad87-4ada90dd54c6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "372ede41-93a9-4cfe-9ec3-369eeec86af1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7478414e-064b-4f21-98ac-1565751058d1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea2eb8dc-603a-4096-bd80-06b38a224b09",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0efbd7ad-9254-4be5-b8cd-6e413938d243",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1823de7e-2b6b-41bd-b0b9-bc5b8caa2de3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1823de7e-2b6b-41bd-b0b9-bc5b8caa2de3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>