<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a37d557-5767-4935-96a5-09d47dd47013" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T15:22:39</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="65f01667-3e86-4fbf-8850-437186fcf800">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00ec312c-656b-435e-9166-cedb173cd459",
      "key": "5db3a7a8-71fd-4905-a69e-9f77d3c0c8de",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5db3a7a8-71fd-4905-a69e-9f77d3c0c8de",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5db3a7a8-71fd-4905-a69e-9f77d3c0c8de",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "560d46ec-ad2c-480a-876a-fe2a43a3ebb0",
    "mediaKey": "bd8b8456-e39b-48b4-be36-b6fb12ef5e8b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>