<?xml version="1.0" encoding="utf-8"?>
<Content Key="98549446-d765-42a0-8e3f-a6ba86cf3be2" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T15:23:10</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65f01667-3e86-4fbf-8850-437186fcf800">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00ec312c-656b-435e-9166-cedb173cd459",
      "key": "ed452f4b-8eab-4ba9-91b0-f3f8048e806d",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ed452f4b-8eab-4ba9-91b0-f3f8048e806d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ed452f4b-8eab-4ba9-91b0-f3f8048e806d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "1e582222-530e-42ea-b6eb-2e2365c1d1e5",
    "mediaKey": "bd6f3fb5-c756-4d70-9659-d09c0087aa48",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>