<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ed25861-0835-416d-a8c4-10f21ec4e160" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T15:21:25</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="65f01667-3e86-4fbf-8850-437186fcf800">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00ec312c-656b-435e-9166-cedb173cd459",
      "key": "e713e1d1-f31e-4241-9736-372480f20193",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e713e1d1-f31e-4241-9736-372480f20193",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e713e1d1-f31e-4241-9736-372480f20193",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "c0d33d97-6bc1-4556-9822-ce31cbf42b4c",
    "mediaKey": "b1ae656d-5a29-4f71-8c75-4569cfc8a6e1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>