<?xml version="1.0" encoding="utf-8"?>
<Content Key="d13d2c24-6939-4fef-9b2d-f12a23ea5428" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-26T08:37:47</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5d67ae1-8555-4d33-887f-f4eb4f1e7eba">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "de8d63cb-ab1a-4034-8cf6-cda7ce9de6d7",
      "key": "8980b28e-3add-42a2-8946-cdc5259f773b",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/5d271a1914ef43b8a2cfdb6b7efb3938",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ed0eb052-a015-4909-a5d4-cde1a9eba009",
              "mediaKey": "f3e7ab62-21a2-4582-b3bd-74132129969c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "751b674d-a186-493b-972a-fdc9de92b3f6",
      "key": "76871591-798b-413c-8ee0-57cb8c14fbd4",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3645e447-20de-483c-9c32-de0ddea7226b",
      "key": "9e9b5068-80a5-4447-b03b-ad383272df52",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackSectionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-secondary\u0022\u003Ewe have 40 years of exprience\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "460ea086-04c0-4511-8a77-69ba79df57b6",
      "key": "d85f2f0c-1c7a-48cd-be21-b7757f58dcb8",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "05e5f0df-5e33-4af4-8c7b-3ab38cebc172",
      "key": "5af23070-758c-458e-86b2-58d4e3c05051",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test 1\ntest 2\ntest 3"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8980b28e-3add-42a2-8946-cdc5259f773b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "76871591-798b-413c-8ee0-57cb8c14fbd4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9e9b5068-80a5-4447-b03b-ad383272df52",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8980b28e-3add-42a2-8946-cdc5259f773b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9e9b5068-80a5-4447-b03b-ad383272df52",
        "contentUdi": null,
        "settingsKey": "5af23070-758c-458e-86b2-58d4e3c05051",
        "settingsUdi": null
      },
      {
        "contentKey": "76871591-798b-413c-8ee0-57cb8c14fbd4",
        "contentUdi": null,
        "settingsKey": "d85f2f0c-1c7a-48cd-be21-b7757f58dcb8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>