<?xml version="1.0" encoding="utf-8"?>
<Content Key="e27c31be-9fe2-438a-ac2b-284285919473" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T15:23:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65f01667-3e86-4fbf-8850-437186fcf800">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00ec312c-656b-435e-9166-cedb173cd459",
      "key": "beb00e23-ec40-47df-8151-2922d13a6f69",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "beb00e23-ec40-47df-8151-2922d13a6f69",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "beb00e23-ec40-47df-8151-2922d13a6f69",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "59e2cbaf-5a4b-4ad9-a25f-081715377a29",
    "mediaKey": "4656d4c2-d0ef-41e5-974e-4e2577634a3e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>