<?xml version="1.0" encoding="utf-8"?>
<Content Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35" Alias="Services" Level="2">
  <Info>
    <Parent Key="d13d2c24-6939-4fef-9b2d-f12a23ea5428">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T12:26:03</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fa0f200f-ae6a-4977-8961-03999ad7a30c">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "751b674d-a186-493b-972a-fdc9de92b3f6",
      "key": "718a4aa5-9ae3-4201-b798-a9f283191dbb",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "460ea086-04c0-4511-8a77-69ba79df57b6",
      "key": "fde4b617-cfc9-4c22-b754-0cd17f9d3a43",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "718a4aa5-9ae3-4201-b798-a9f283191dbb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "718a4aa5-9ae3-4201-b798-a9f283191dbb",
        "contentUdi": null,
        "settingsKey": "fde4b617-cfc9-4c22-b754-0cd17f9d3a43",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>