<?xml version="1.0" encoding="utf-8"?>
<Content Key="d17dadeb-f7fa-4c93-8595-fdc2de5fa65b" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="cabc6bac-c2e1-4528-bf82-8fe643b19e35">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T15:22:05</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="65f01667-3e86-4fbf-8850-437186fcf800">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "00ec312c-656b-435e-9166-cedb173cd459",
      "key": "cfe6f9b8-9302-46b1-a0d9-4ed30432abc5",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cfe6f9b8-9302-46b1-a0d9-4ed30432abc5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cfe6f9b8-9302-46b1-a0d9-4ed30432abc5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "a40bdee9-8042-43d9-85cb-f5c62afc7b83",
    "mediaKey": "57b31f1f-3c07-422f-9f6d-32dcd557115a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>