

.rte-ul {
    @apply list-disc pl-5 mt-3;
}

    .rte-ul li {
        @apply text-rte-xs text-body-text mb-3;
    }

        .rte-ul li::marker {
            @apply text-secondary;
        }

.rte p {
    @apply mb-3;
}


.rte-img-full img {
    @apply w-full h-auto object-cover;
}
  