<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd6f3fb5-c756-4d70-9659-d09c0087aa48" Alias="Bonds &amp; Commodities.svg" Level="2">
  <Info>
    <Parent Key="41bc6a23-c41b-4e05-b229-f7bb239e17f2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:59:16</CreateDate>
    <NodeName Default="Bonds &amp; Commodities.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4bm0x0n/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>