<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d81a123-22a8-4817-9a49-7bffb2e93cb5" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:50:04</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0eochl3t/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>