<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ae656d-5a29-4f71-8c75-4569cfc8a6e1" Alias="Financial Advisor.svg" Level="2">
  <Info>
    <Parent Key="41bc6a23-c41b-4e05-b229-f7bb239e17f2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:59:15</CreateDate>
    <NodeName Default="Financial Advisor.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5mayuzs/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>