<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3e7ab62-21a2-4582-b3bd-74132129969c" Alias="Home-Hero.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-26T08:11:52</CreateDate>
    <NodeName Default="Home-Hero.svg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/salekenz/home-herosvg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>