<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5db1e23-9ad8-42ad-b165-c8812954449f" Alias="image-47 1 (1).svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/image4711Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:01:09</CreateDate>
    <NodeName Default="image-47 1 (1).svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0grhsv4d/image-47-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>