<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d852109-93f0-41d3-be65-a382dd7ebde4" Alias="image-106 1.svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:02:32</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5oocpd5l/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>