<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e11bb24-75a4-4e58-9921-7c20e93cb062" Alias="Img-4-2 1.svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:06:16</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ydlhpf5/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>