<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e75029d-8087-4ca2-8ca9-619efdf3f242" Alias="img_choose_01_home01 2.svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:05:17</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n45nple2/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>