<?xml version="1.0" encoding="utf-8"?>
<Media Key="8634b260-8220-4261-b60e-d295287da2d0" Alias="Kevin-Gardner 1.svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:06:39</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sihjmzb1/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>