<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a8c2360-0c04-4d36-8a5a-5fa3e6fa4a03" Alias="Mask-Group-8 1.svg" Level="3">
  <Info>
    <Parent Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:05:48</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/skpc3ga5/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>