<?xml version="1.0" encoding="utf-8"?>
<Media Key="84d47e91-2600-401e-a800-eb10be9d4e88" Alias="Risk Management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:21:08</CreateDate>
    <NodeName Default="Risk Management.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mpbhmzq1/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>