<?xml version="1.0" encoding="utf-8"?>
<Media Key="41bc6a23-c41b-4e05-b229-f7bb239e17f2" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-03T14:49:37</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>