<?xml version="1.0" encoding="utf-8"?>
<Media Key="57b31f1f-3c07-422f-9f6d-32dcd557115a" Alias="Tax and Trusts.svg" Level="2">
  <Info>
    <Parent Key="41bc6a23-c41b-4e05-b229-f7bb239e17f2">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:59:15</CreateDate>
    <NodeName Default="Tax and Trusts.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3wrbdni2/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>