<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef5e42cd-6434-4fc0-9d99-9f89defbf532" Alias="Team Members" Level="2">
  <Info>
    <Parent Key="91702b63-ce73-45c7-a485-536889e432cc">Team Members</Parent>
    <Path>/TeamMembers/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T07:43:39</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>