<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca73a893-77c6-4674-adc0-f8e50ac1f429" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5d67ae1-8555-4d33-887f-f4eb4f1e7eba">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="48bf8fab-1402-430f-975c-ae1f209a6735" SortOrder="0">contactPage</ContentType>
    <ContentType Key="274c8ce8-9392-454d-ad3e-e156ff7d15e4" SortOrder="1">servicePage</ContentType>
    <ContentType Key="1660d80a-82b0-452f-97f4-2792fecacfbb" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>978c70b6-3a7f-4fe8-85c2-5d0aba5b6d80</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>2385527c-2e0f-4ba7-bd30-b2a5544884cf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e8aa731-ac7e-463f-bccd-d60a04a5e374</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>